body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

H1{
    text-align: center;
    color: black;
    
}
H2{
    color: blue;
    text-decoration: underline;
   
}
H3{
    color: black;
    
}
H4{
   z-index:5 ;
}
